[Unit]
Description=Shows a maintenance page
After=network.target

[Service]
Type=simple
ExecStart=/home/piegarden/deploy/maint/maint
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
